#header {
    background-color: var(--cont-bg);  /* Dark background color */
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h2 {
    margin: 0;
    color: var(--header-text-col);  /* Light text color for the heading */
}

#version {
    font-size: 9pt
}

#btns {
    display: flex;
    gap: 6px;
}

#btns button {
    background-color: var(--header-btn-bg);  /* Dark button background */
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#btns button:hover {
    background-color: var(--header-btn-bg-hover);  /* Darker shade on hover */
}
