html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

#mainContent {
    display: flex;
    width: 100%;
    overflow: hidden;
}