#results {
    max-height: 100vh;
    overflow: auto;
}

#title {
    margin: 16px 0px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    padding: 15px 21px;
    background-color: #f1f1f1;
    border-radius: 12px;
    transition: box-shadow 0.3sease-in-out;
}

.card p {
    margin: 0;
}