#results {
    /* max-height: 100vh; */
    /* overflow: auto; */
    width: 100%;
    /* padding: 0 20px; */
    padding: 0 0 0 20px;
}

#title {
    margin: 16px 0px;
}

#rmSelection {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.rmEntry {
    color: #000;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}
.rmEntry:hover {
    background: #DBDBDB;
}

.rmEntry.selected {
    background: #A9A9A9;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rmEntry.selected:hover {
    background: #808080;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
    overflow: auto;
}

.card {
    padding: 15px 21px;
    background-color: #f1f1f1;
    border-radius: 12px;
    overflow: hidden;
    min-height: fit-content;
    margin-right: 10px;
    transition: 0.2s;
}

.card p {
    margin: 0;
    text-wrap: nowrap;
}

.cardEm {
    background-color: #d1dff6;
    /* cursor: pointer;
    user-select: none; */
}
/* .cardEm:hover {
    background-color: #c2d6f6;
} */