#results {
    width: 100%;
    padding: 0 0 0 20px;
    color: var(--text-col);  /* Light text color for readability */
    background-color: var(--main-background);
    border-top-left-radius: 12px;

    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

#title {
    margin: 16px 0px;
    color: var(--text-col);  /* Light text color for the title */
}

#rmSelection {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.rmEntry {
    color: var(--text-col);  /* Light text color for entries */
    background: var(--entry);  /* Dark background for entries */
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.rmEntry:hover {
    background: var(--entry-hover);  /* Lighter shade on hover */
}

.rmEntry:active {
    transform: scale(0.97); /* Subtle press effect */
}

.rmEntry.selected {
    background: var(--entry-selected);  /* Selected entry darker shade */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  /* Slight shadow for better contrast */
}

.rmEntry.selected:hover {
    background: var(--entry-selected-hover);  /* Darker hover effect on selected */
}

#cards {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* margin-bottom: 12px; */
    overflow: auto;
}

.card {
    padding: 15px 21px;
    background-color: var(--card-bg);  /* Dark background for cards */
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.card p {
    margin: 0;
    color: var(--text-col);  /* Light text color for card paragraphs */
    overflow: auto;
    /* text-overflow: ellipsis; */
}

.card p::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.cardEm {
    background-color: var(--card-em-bg);
}