#results {
    width: 100%;
    padding: 0 0 0 20px;
    color: var(--text-col);
    background-color: var(--main-background);
    border-top-left-radius: 12px;

    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

#title {
    margin: 16px 0px;
    color: var(--text-col);
}

#rmSelection {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.rmEntry {
    color: var(--text-col);
    background: var(--entry);
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.rmEntry:hover {
    background: var(--entry-hover);
}

.rmEntry:active {
    transform: scale(0.97);
}

.rmEntry.selected {
    background: var(--entry-selected);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.rmEntry.selected:hover {
    background: var(--entry-selected-hover);
}

#cards {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* margin-bottom: 12px; */
    overflow: auto;
    padding-right: 10px;
}

.card {
    padding: 15px 20px;
    background-color: var(--card-bg);
    border-radius: 12px;
    /* margin-right: 10px;
    margin-bottom: 10px; */
    text-wrap: nowrap;
}

.card p {
    margin: 0;
    color: var(--text-col);
    overflow: auto;
    /* text-overflow: ellipsis; */
}

.card p::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.cardEm {
    background-color: var(--card-em-bg);
    margin-bottom: 10px;
}

.ccSection {
    margin: 5px 0;
    background-color: var(--ccsection-bg);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
}

.ccSectionName {
    margin: 0;
    font-size: 18px;
    text-align: center;
    background-color: var(--ccsection-text);
    border-radius: 6px;
    font-weight: bold;
    padding: 3px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}