#tools {
    width: 100%;
    padding: 0 20px 0 20px;
    color: var(--text-col);  /* Light text color for readability */
    background-color: var(--main-background);
    border-top-left-radius: 12px;
    
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#title {
    margin: 16px 0px;
    color: var(--text-col);
}