#header {
    background-color: var(--cont-bg);  /* Dark background color */
    padding: 12px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h2 {
    margin: 0;
    color: var(--header-text-col);  /* Light text color for the heading */
}

#version {
    font-size: 9pt
}

#btns {
    display: flex;
    gap: 6px;
}

#btns button {
    /* background-color: var(--header-btn-bg); */
    background-color: var(--search-bg);  /* Dark background like the search box */
    border: 2px solid var(--search-border);  /* Dark border color */
    color: var(--text-col);
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#btns button:hover {
    /* background-color: var(--header-btn-bg-hover);  */
    background-color: var(--entry-hover); /* Slightly lighter on hover */
    border-color: var(--entry-selected-hover);
}

#btns button:active {
    background-color: var(--entry-selected); /* Even darker when clicked */
    transform: scale(0.97); /* Subtle press effect */
}
