.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);  /* Darker background for overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#infoOverlay.overlay {
    z-index: 50;
}

.overlayContent {
    background: var(--cont-bg);  /* Dark background for overlay content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Slightly stronger shadow for depth */
    width: 60%;
    color: var(--text-primary);
    border: solid 1.5px var(--select-border);
    z-index: 2;
    max-height: 30vh;
    overflow: auto;
}

.overlayContent button {
    width: 100%;
}

.overlayClose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay.shown {
    opacity: 1;
    visibility: visible;
}

#overlayText {
    margin: 8px 0px;
    color: var(--text-primary);
}



#contributeOverlay .overlayContent {
    max-height: 60vh;
}

/* #contributeInputs, #feedbackInputs {
    display: flex;
    margin: 8px 0;
    gap: 8px;
    flex-direction: column;
} */

.contributeInput, .feedbackInput {
    display: flex;
    align-items: center;
    gap: 4px;
}
.contributeInput p, .feedbackInput p {
    margin: 0;
}
.contributeInput input, .feedbackInput input {
    flex-grow: 1;
}
.contributeInput .searchBox, .feedbackInput .searchBox {
    padding: 4px 10px;
}

.feedbackInput textarea {
    width: 100%;
    resize: vertical;
    
    max-height: 100px;
    min-height: 40px;
}

.lumiadbContent img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    cursor: pointer;
}